In [92]:
import pandas as pd
import yaml
with open("details.yaml") as f :
    data= yaml.load(f,Loader=yaml.FullLoader)

In [93]:
data1=data['Formation1']
data2=data['Formation2']

In [94]:
pd.Series(data1)

numero             1
Spécialité       ISI
name           dyhia
Age               28
gender        female
Sport             VO
dtype: object

In [95]:
print(data1)

{'numero': 1, 'Spécialité': 'ISI', 'name': 'dyhia', 'Age': 28, 'gender': 'female', 'Sport': 'VO'}

In [96]:
pd.Series(data2)

numero             2
Spécialité      chps
name           Dyhia
Age               28
gender        female
Sport             Vo
dtype: object

Structure de structure : liste de dictionnaire représenté sous forme d'un dataframe

In [97]:
df=pd.DataFrame([data1,data2],index=['formation1','formation2'])

In [98]:
df.head()

            numero Spécialité   name  Age  gender Sport
formation1       1        ISI  dyhia   28  female    VO
formation2       2       chps  Dyhia   28  female    Vo

In [99]:
column_name=df[['Spécialité'][0]]

In [100]:
column_name

formation1     ISI
formation2    chps
Name: Spécialité, dtype: object

In [101]:
column_name[0]

'ISI'

In [102]:
column_name[1]

'chps'

In [103]:
print('la première formation est: {} '.format (column_name[0]))

la première formation est: ISI

In [104]:
print('la deuxième formation est: {} '.format (column_name[1]))

la deuxième formation est: chps